<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon"  href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"  href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
        <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}   
    </head>
    <body>
        {% block nav %}{% include '::nav.html.twig' %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
